@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to my first RAZOR PAGE project</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <img src="/images/40764d49d892bca22959e11f65f9f1d5.jpg"  class="w-50 img-fluid img-thumbnail"   />
        </div>
</div>