@model IEnumerable<DeptHeadCount>

<table class="table table-hover rounded-pill">
    <thead class="thead-light">
        <tr>
            <th>Department</th>
            <th>Head Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var iteam in Model)
        {
            <tr>    
                <td>@iteam.Department</td>
                <td>@iteam.Counter</td>
            </tr>
        }
    </tbody>
</table>